<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".KristalApplication"
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.KristalLauncher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.KristalLauncher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/settings_title"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".GameDetailsActivity"
            android:exported="false"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".TranslationEditorActivity"
            android:exported="false"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".TranslationEntryActivity"
            android:exported="false"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".TranslationSettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".PatchesSettingsActivity"
            android:exported="false"
            android:label="@string/patch_center_title"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".LanguageSettingsActivity"
            android:exported="false"
            android:label="@string/language_title"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".AppearanceSettingsActivity"
            android:exported="false"
            android:label="@string/appearance_title"
            android:theme="@style/Theme.KristalLauncher" />

        <activity
            android:name=".KristalRuntimeSettingsActivity"
            android:exported="false"
            android:label="@string/kristal_runtime_title"
            android:theme="@style/Theme.KristalLauncher" />

        <!-- Embedded Native LÖVE2D Game Activity -->
        <activity
            android:name="org.love2d.android.GameActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|screenSize|smallestScreenSize"
            android:exported="false"
            android:launchMode="singleInstance"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            tools:ignore="DiscouragedApi,MissingClass,NonResizeableActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
